<%= render 'left', book:@book, user:@user %>

<div class="col-md-8 offset-md-1">
  <h2>Book detail</h2>
  <table class="table">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(@show_book.user.id) do  %>
            <%= image_tag @user.get_profile_image(100,100) %><br />
            <%= @user.name %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@show_book.id) do %>
            <%= @show_book.title %>
          <% end %>
        </td>
        <td><%= @show_book.body %></td>
        <% if @user == current_user %>
          <td>
            <%= link_to "Edit", edit_book_path(@show_book.id), class: "btn btn-sm btn-success" %>
          </td>
          <td>
            <%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger" %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
